.character-container {
  margin: 0;
  padding: 0;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1rem;
}

.fade {
  position: relative;
  width: 100%;
  min-height: 20vh;
  top: -25px;
  background-image: linear-gradient(0deg, transparent, black 75%);
  z-index: 1;
}
 
.crawl-container {
  background-image: url('../images/crawl-sky.jpg');
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  perspective: 200px;
  overflow: hidden;
  text-align: justify;
}


.crawling-text {
  position: relative;
  top: -700px;
  transform-origin: 50% 100%;
  font-size: 90px;
  color: yellow;
  animation: crawl 90s linear;
}

@keyframes crawl {
  0% {
    top: 250px;
    transform: rotateX(20deg) translateZ(0);
  }
  100% {
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}
