* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.grid-2 {
  background-attachment: fixed;
  background-image: url('../images/fleet-img.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px;
}
