* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.login-page {
  background-attachment: fixed;
  background-image: url('../images/login-duel.webp');
  background-repeat: no-repeat;
  background-size: cover;
  height: 120vh;
}

h1 {
  padding: 35px 0 0 0;
  text-align: center;
  margin-bottom: 0;
}

.logo {
  align-self: center;
  width: 400px;
  height: 200px;
}

form {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 0 0 30%;
  width: 40%;
}

input {
  border-radius: 5px;
  border: 3px solid #000;
  font-size: 20px;
  height: 50px;
  margin: 10px;
  padding: 10px;
}

::placeholder {
  color: #141d4f;
}

.login-btn,
select {
  border-radius: 5px;
  border: 3px solid #000;
  color: #141d4f;
  cursor: pointer;
  font-size: 20px;
  height: 50px;
  margin: 10px;
}

.link {
  display: block;
  margin: auto;
}

.show-error {
  align-self: center;
  background-color: #1B3C6C;
  border-radius: 5px;
  border: 1px solid #000;
  color: red;
  font-size: 25px;
  opacity: .9;
  text-align: center;
  width: 95%;
}

.do-not-show-error {
  visibility: hidden;
}
