* {
  margin: 0;
  padding: 0;
}

.navigation-pane {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navigation-button {
  background: #ABABAB;
  border-radius: 10px;
  border: none;
  color: #000;
  font-size: 1rem;
  font-weight: bold;
  margin-right: 0.5rem;
  margin: 10px;
  outline: none;
  padding: 0.4rem 1.3rem;
  transition: opacity 0.2s ease-in;
  width: 200px;
}

.navigation-button:hover {
  cursor: pointer;
}

.nav-card {
  align-items: center;
  background-color: #000;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  min-height: 200px;
  opacity: 0.9;
  padding: 0.7rem 2rem;
  width: 100%;
  z-index: 1;
}

.user-name,
.user-quote,
.user-rank {
  color: #FFF;
  font-size: 25px;
  font-weight: bold;
}
