* {
  box-sizing: border-box;
  font-family: 'PT Sans Narrow', sans-serif;
}

.movie-card {
  background-color: #04243D;
  border: 8px ridge #FFF;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 21px;
  justify-content: space-between;
  width: 18%;
  height: 300px;
  margin: 15px;
  padding: 1.5rem;
  color: #FFF;
}

h2 {
  font-family: 'Squada One', cursive;
  letter-spacing: 1px;
  font-size: 30px;
}

.movie-card-button {
  background: #FFF;
  border: 2px solid #fff;
  border-radius: 3px;
  color: #04243D;
  cursor: pointer;
  display: inline-block;
  font-size: 1.2rem;
  padding: 0.4rem 1.3rem;
  transition: opacity 0.2s ease-in;
  font-weight: bold; 
}

.movie-card-button :hover {
  cursor: pointer;
}
